<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>404</title>
</head>

<style>
    @font-face {
        font-family: 'DNFBitBitv2';
        font-style: normal;
        font-weight: 400;
        src: url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf') format('opentype');
    }

    * {
        font-family: 'DNFBitBitv2';
    }

    .sky {
        background-attachment: fixed;
        position: fixed;
        background: linear-gradient(#0072b4, #ffffff, #ffffff);
        height: 100%;
        width: 100%;
    }

    .green {
        background-attachment: fixed;
        background: linear-gradient(#01552c, #019252);
        height: 60%;
        width: 100%;
        position: fixed;
        bottom: 0;
        border-top-left-radius: 50% 40px;
        border-top-right-radius: 50% 40px;
    }

    .logo {
        text-align: center;
        position: relative;
        top: 120px;
    }

    .greenFont {
        position: relative;
        top: 30px;
        font-size: 30px;
        text-align: center;
    }

    .font404 {
        font-size: 50px;
        text-shadow: 3px 3px #ffffff;
        margin-bottom: 20px;
    }
</style>

<body>
    <div class="sky">
        <div class="logo">
            <a href="/home">
                <img src="../static/img/zaranara.png" alt="자라나라새싹나라" />
            </a>
        </div>
        <div class="green">
            <div class="greenFont">
                <div class="font404">404</div>
                페이지를 찾을 수 없습니다
                <p><a href="/home">홈페이지로 돌아가기</a></p>
            </div>
        </div>
    </div>
</body>

</html>