<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f8d7da;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .container {
        text-align: center;
    }

    h1 {
        color: #721c24;
    }

    p {
        color: #721c24;
    }

    a {
        color: #721c24;
        text-decoration: underline;
    }
</style>
<title>404 - 페이지를 찾을 수 없음</title>
</head>

<body>
    <div class="container">
        <h1>404 - 페이지를 찾을 수 없음</h1>
        <p><a href="/home">홈페이지로 돌아가기</a></p>
    </div>
</body>

</html>