<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <title>signin(로그인 페이지)</title>
</head>
<link rel="stylesheet" href="../static/css/component.css" />

<body>
  <!-- 일반 상태 -->
  <div><button class="sesacBtn">로그인</button></div>
  <br>
  <!-- 비활성화 상태 -->
  <div><button class="sesacBtn" disabled>로그인</button></div>
  <br>

  <div><button class="sesacBtn">회원가입</button></div>
  <br>

  <div><button class="sesacBtn">산책하기</button></div>
  <br>

  <div><button class="signUpBtn">가입하기</button></div>
  <br>

  <div><button class="delBtn">탈퇴하기</button></div>
  <br>

  <div><button class="infoBtn">info</button></div>
  <br>
  <div>
    <button class="closeBtn">x</button>
  </div>
  <br>
  -------------------------------------------------
  <br>
  <br>
  <!-- 공개 비공개  -->
  <div class="pubRadioBtn">
    <input type="radio" name="isPublic" value="true" id="public" checked>
    <label for="public">메시지 공개 </label>

    <input type="radio" name="isPublic" value="false" id="private">
    <label for="private">메시지 비공개 </label>
  </div>

</body>

</html>