<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <title>home</title>
    <link rel="stylesheet" href="../static/css/home.css" />
  </head>

  <body>
    <!-- 하늘 -->
    <div class="sky">
      <!-- 로고 -->
      <div class="logo">
        <a href="/home">
          <img
            id="logo"
            src="../static/img/zaranara.png"
            alt="자라나라새싹나라"
          />
        </a>
      </div>

      <!-- 잔디 -->
      <div class="green">
        <!-- 버튼들 -->
        <div class="btnForm">
          <div>
            <button id="signinButton" onclick="location.href='/home/signin'">
              로그인
            </button>
          </div>

          <div>
            <button id="signupButton" onclick="location.href='/home/signup'">
              회원가입
            </button>
          </div>

          <div>
            <button type="button" id="walkButton" onclick="randomWalk()">
              산책하기
            </button>
          </div>

          <!-- info 버튼 -->
          <div>
            <button id="infoButton">info</button>
          </div>
        </div>
      </div>
    </div>

    <script>
      function mvUserGarden(user_id) {
        console.log('mvUserGarden 실행');
        axios({
          method: 'GET',
          url: '/home/garden',
        })
          .then((res) => {
            if (res.data) {
              location.href = '/home/garden';
            }
          })
          .catch((error) => {
            console.error(error);
          });
      }

      function randomWalk() {
        axios({
          method: 'GET',
          url: '/home/garden/random',
        }).then((res) => {
          let num = res.data.data;
          console.log('res : ', res);
          console.log('res.data : ', res.data);
          console.log('num : ', num);
          randomPage(num);
        });
      }

      function randomPage(id) {
        console.log('매개변수: ', id);
        axios({
          method: 'GET',
          url: `/home/garden/random/${id}`,
        }).then((res) => {
          location.href = `/home/garden/${id}`;
        });
      }
    </script>
  </body>
</html>
