<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>home</title>
</head>

<body>
    <!-- 회원이 로그인 상태일 경우 아닐 경우 생각 -->
    <!-- 로그인 상태가 아니더라도 다른 사람의 가든으로 이동 가능 (산책하기) -->

</body>

</html>