<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>color</title>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <style>
      .colors {
        display: flex;
      }

      .color-option {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin: 2px;
        cursor: pointer;
      }

      .selected {
        border: 3px solid #ffffff;
      }
    </style>
  </head>

  <body>
    <div class="colors">
      <div
        class="color-option"
        style="background-color: #651cbe"
        value="#651cbe"
      ></div>
      <div
        class="color-option"
        style="background-color: #ff9d00"
        value="#ff9d00"
      ></div>
      <div
        class="color-option"
        style="background-color: #4b7ade"
        value="#4b7ade"
      ></div>
      <div
        class="color-option"
        style="background-color: #680b06"
        value="#680b06"
      ></div>
      <div
        class="color-option"
        style="background-color: #ff5c92"
        value="#ff5c92"
      ></div>
    </div>

    <script>
      $(document).ready(() => {
        $('.color-option').on('click', function () {
          $('.color-option').removeClass('selected');
          $(this).addClass('selected');

          const flowerColor = $(this).attr('value'); // 클릭한 div 태그의 value(16진수 색상값)
          console.log(flowerColor);
          $('input[name="flowerColor"]').val(flowerColor);
        });
      });
    </script>
  </body>
</html>
