<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <title>profile(마이페이지)</title>
</head>

<body>
  <style>
    /* 간단하게 만든 style 코드입니다. 후에 수정해주시면 됩니다. */
    form {
      max-width: 400px;
      margin: 0 auto;
    }

    div {
      margin-bottom: 15px;
    }

    input {
      width: 100%;
      padding: 8px;
      box-sizing: border-box;
    }

    button {
      padding: 10px;
      cursor: pointer;
    }
  </style>

  <body>
    <form class="" name="userProfile">
      <h3>마이(프로필) 페이지</h3>
      <div>
        <!-- 아이디는 변경 불가능 -->
      </div>
      <div>
        닉네임 <input type="text" name="user_name" value="<%=data.user_name%>">
      </div>
      <!-- 이미지는 잠시 보류 -->
      <!-- <div>
                사용자 이미지 설정<input type="file" name="user_img" value="사진링크">
            </div> -->
      <div>
        자기소개 <input type="text" name="user_intro_self" value="<%=data.user_intro_self%>">
      </div>
      <div>
        내 MBTI <input type="text" name="user_mbti" value="<%=data.user_mbti%>">
      </div>
      <button type="button" onclick="editUser()">프로필 수정</button>
      <button type="button" onclick="deleteUser()">회원 탈퇴</button>
    </form>

  </body>
  <script>
    function deleteUser() {
      axios({
        method: 'DELETE',
        url: "/user/delete",
      }).then((res) => {
        if (res.data.result) {
          alert("탈퇴 완료")
          location.href = "/home"
        } else alert("탈퇴 실패")
      })
    }

    function editUser() {
      const form = document.forms["userProfile"]

      let user = {
        user_pw: form.value.user_pw,
        user_name: form.value.user_name,
        user_intro_self: form.value.user_intro_self,
        user_mbti: form.value.user_mbti
      }

      axios({
        method: "PATCH",
        url: `/user/profile/`,
        data: user
      }).then((res) => {
        if (res.data.result) {
          alert("수정 성공")
          location.reload()
        } else alert("수정 실패")
      })
    }
  </script>

</html>