<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <title>profile(마이페이지)</title>

  <script>
    function deleteUser() {
      axios({
        method: "DELETE",
        url: "/user/profile",
      }).then((res) => {
        if (res.data.result) {
          alert("탈퇴 완료")
          location.href = "/home"
        } else alert("탈퇴 실패")
      })
    }

    function editUser() {
      const form = document.forms["userProfile"]

      let user = {
        user_name: form.elements.user_name.value,
        user_intro_self: form.elements.user_intro_self.value,
        user_mbti: form.elements.user_mbti.value
      }
      axios({
        method: "PATCH",
        url: `/user/profile/`,
        data: user
      }).then((res) => {
        if (res.data.result) {
          alert("수정 성공")
          location.reload()
        } else alert("수정 실패")
      })
    }

    // 비밀번호 수정을 위해 사용자가 입력한 기존 비번을 검증하는 함수
    function checkPw() {
      const form = document.forms["userProfile"]

      let user = {
        user_id: form.elements.user_id.value,
        user_pw: form.elements.user_pw.value
      }

      axios({
        method: "POST",
        url: `/user/profile`,
        data: user
      }).then((res) => {
        if (res.data.result) {
          alert("인증 성공! 수정할 비밀번호를 입력하세요.")
          document.getElementById('user-pw').value = ''
          $('#check-btn').attr('hidden', true)
          $('#edit-btn').removeAttr('hidden')
        } else alert("아이디와 비밀번호가 일치하지 않습니다.")
      })
    }

    // 비밀번호 창에 입력한 정보로 비번을 수정하는 함수
    function editPw() {
      const form = document.forms["userProfile"]

      axios({
        method: "PATCH",
        url: `/user/profile/pw`,
        data: form.elements.user_pw.value
      }).then((res) => {
        if (res.data.result) alert("수정 성공")
        else alert("수정 실패")
      })
    }
  </script>
</head>

<body>
  <style>
    /* 간단하게 만든 style 코드입니다. 후에 수정해주시면 됩니다. */
    form {
      max-width: 400px;
      margin: 0 auto;
    }

    div {
      margin-bottom: 15px;
    }

    input {
      width: 100%;
      padding: 8px;
      box-sizing: border-box;
    }

    button {
      padding: 10px;
      cursor: pointer;
    }
  </style>

  <body>
    <form class="" name="userProfile">
      <h3>마이(프로필) 페이지</h3>
      <div>
        <!-- 아이디는 변경 불가능 -->
      </div>
      <div>
        닉네임 <input type="text" name="user_name" value="<%=data.user_name%>">
      </div>
      <!-- 이미지는 잠시 보류 -->
      <!-- <div>
                사용자 이미지 설정<input type="file" name="user_img" value="사진링크">
            </div> -->
      <div>
        자기소개 <input type="text" name="user_intro_self" value="<%=data.user_intro_self%>">
      </div>
      <div>
        내 MBTI <input type="text" name="user_mbti" value="<%=data.user_mbti%>">
      </div>

      <!-- 아이디/비번 변경은 '비밀번호 재설정' 버튼 클릭 시 별도 창으로 띄울 예정 -->
      <div>
        아이디 <input type="text" name="user_id" value="<%=data.user_id%>">
      </div>
      <div>
        비밀번호 <input type="password" name="user_pw" id="user-pw" value="">
      </div>

      <button type="button" onclick="editUser()">정보 수정</button>
      <button type="button" onclick="deleteUser()">회원 탈퇴</button>
      <button type="button" id="check-btn" onclick="checkPw()">비밀번호 재설정(인증)</button>

      <!-- 비번 인증 후 재설정 버튼 보임 -->
      <button type="button" hidden="true" id="edit-btn" onclick="editPw()">비밀번호 재설정</button>
    </form>

  </body>

</html>