<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.js"></script>
    <title>signin(로그인 페이지)</title>
  </head>
  <link rel="stylesheet" href="../static/css/signin.css" />

  <body>
    <div class="sky">
      <div class="green">
        <div class="container">
          <a href="/home">
            <img
              src="../static/img/zaranara.png"
              class="zara"
              alt="자라나라새싹나라"
            />
          </a>
        </div>

        <form class="signin-form" name="user_login">
          <div>
            <input
              type="text"
              name="user_id"
              class="id-form"
              required
              placeholder="아이디"
            />
          </div>
          <div>
            <input
              type="password"
              name="user_pw"
              class="pw-form"
              required
              placeholder="비밀번호"
            />
          </div>
        </form>
        <div>
          <button type="button" onclick="userLogin()" id="signinButton">
            <div class="btn-signin">로그인</div>
          </button>
        </div>
        <div><a href="/home/signup" class="signupButton">회원가입</a></div>
        <div><a href="/home" class="home"></a></div>
        <div>
          <a href="/home">
            <img
              class="home-icon"
              src="../static/img/home-icon.png"
              alt="홈으로 가기"
          /></a>
        </div>
      </div>
    </div>
  </body>
  <script>
    // 로그인 버튼 클릭 시
    function userLogin() {
      const form = document.forms['user_login'];

      let user = {
        user_id: form.user_id.value,
        user_pw: form.user_pw.value,
      };

      axios({
        method: 'POST',
        url: '/home/signin',
        data: user,
      }).then((res) => {
        if (res.data.result) {
          alert('로그인 성공');
          location.href = '/home/garden';
          // 성공 시 유저의 id(PK)의 맞는 garden으로 이동하는 코드 작성 필요 (보류)
        } else {
          // 실패 시 해당 페이지 초기화
          alert('로그인 실패');
          form.reset();
        }
      });
    }
  </script>
</html>
