<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>garden 요소 테스트</title>
    <link rel="stylesheet" href="../static/css/test.css" />
  </head>

  <body>
    <div class="bed">
      <!-- 새싹 스프라이트 -->
      <div class="sesac-sprite-box">
        <div class="sesac-sprite-1"></div>
        <div class="sesac-sprite-2"></div>
        <div class="sesac-sprite-3"></div>
        <div class="sesac-sprite-4"></div>
      </div>

      <!-- 잎사귀 스프라이트 -->
      <div class="leaf-sprite-box">
        <div class="leaf-sprite-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="140.481"
            height="223.477"
            viewBox="0 0 140.481 223.477"
          >
            <defs>
              <style>
                .cls-1 {
                  fill: url(#linear-gradient);
                }

                .cls-2 {
                  clip-path: url(#clip-path);
                }
              </style>
              <linearGradient
                id="linear-gradient"
                x1="0.5"
                x2="0.5"
                y2="1"
                gradientUnits="objectBoundingBox"
              >
                <stop offset="0" stop-color="#74b93a" />
                <stop offset="1" stop-color="#01552c" />
              </linearGradient>
              <clipPath id="clip-path">
                <rect
                  id="leaf"
                  data-name="leaf"
                  class="cls-1"
                  width="76.23"
                  height="210.106"
                  transform="translate(0 0)"
                />
              </clipPath>
            </defs>
            <g id="leaf-part" data-name="leaf-part">
              <g
                id="leaf-group"
                data-name="leaf-group"
                class="cls-2"
                transform="translate(0 0.004)"
              >
                <path
                  id="leaf-path"
                  data-name="leaf-path"
                  class="cls-1"
                  d="M76.129,183.788C74.915,170.52,36.255,12.657,36.255,12.657A13.9,13.9,0,0,0,14.111,2.771C5.367,9.275-.83,18.866.091,28.939c.97,10.6,9.6,19.252,20.1,23.922-9.475,6.5-16.394,16.566-15.424,27.17s9.6,19.252,20.1,23.922c-9.475,6.5-16.394,16.566-15.424,27.17s9.6,19.252,20.1,23.922c-9.475,6.5-16.394,16.566-15.424,27.17,1.38,15.088,18.27,26.218,33.975,27.56a24.14,24.14,0,0,0,28.046-25.988"
                  transform="translate(0 -0.004)"
                />
              </g>
            </g>
          </svg>
        </div>
      </div>
    </div>

    <div class="sky"></div>
    <div class="green"></div>
    <div class="sesac-container">
      <div class="sesac"><img src="../static/img/sesac.png" alt="새싹" /></div>
      <div class="sesac"><img src="../static/img/sesac.png" alt="새싹" /></div>
      <div class="sesac"><img src="../static/img/sesac.png" alt="새싹" /></div>
      <div class="sesac"><img src="../static/img/sesac.png" alt="새싹" /></div>
      <div class="sesac"><img src="../static/img/sesac.png" alt="새싹" /></div>
    </div>

    <script></script>
  </body>
</html>
