@font-face {
  font-family: 'DNFBitBitv2';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')
    format('opentype');
}

* {
  font-family: 'DNFBitBitv2';
}

.sky {
  background-attachment: fixed;
  position: fixed;
  background: linear-gradient(#0072b4, #ffffff, #ffffff);
  height: 100%;
  width: 100%;
}

.logo {
  text-align: center;
  position: relative;
  top: 120px;
}

.green {
  background-attachment: fixed;
  background: linear-gradient(#01552c, #019252);
  height: 60%;
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top-left-radius: 50% 40px;
  border-top-right-radius: 50% 40px;
}

.btnForm {
  text-align: center;
  position: relative;
  bottom: 80px;
}

button {
  cursor: pointer;
}

#signinButton,
#signupButton,
#walkButton,
#infoButton {
  width: 150px;
  height: 60px;
  position: relative;
  top: 100px;
  margin-top: 30px;
  font-size: 25px;
  border-radius: 30px;
  background-color: #74b93a;
  color: #ffffff;
  border: none;
}

#infoButton {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

#walkButton,
#infoButton {
  background-color: #01552c;
}

#signinButton:hover,
#signinButton:active {
  background-color: #509217;
}

#signupButton:hover,
#signupButton:active {
  background-color: #509217;
}

#walkButton:hover,
#walkButton:active {
  background-color: #1f2020;
}

#infoButton:hover,
#infoButton:active {
  background-color: #1f2020;
}
