body {
  height: 100%;
  width: 100%;
  margin: 0;
  /* overflow: hidden; */
  font-family: 'DNFBitBitv2';
}

#offcanvasNavbar {
  z-index: 999;
}

input::placeholder {
  color: BLACK;
}

#file {
  display: none;
}

.btn-id {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.btn-id input {
  width: 67%;
  padding: 8px;
  box-sizing: border-box;
}

.btn-id button {
  width: 30%;
  padding: 10px;
  cursor: pointer;
}

.btn-upload {
  top: 325px;
  left: 40px;
  position: absolute;
  width: 242px;
  height: 46px;
  background: #74b93a 0% 0% no-repeat padding-box;
  border-radius: 63px;
  opacity: 1;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.sky {
  background-attachment: fixed;
  position: absolute;
  background: linear-gradient(#0072b4, #ffffff);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  overflow: auto;
}

.navbar,
.offcanvas-header {
  opacity: 1;
  height: 80px;
}
.offcanvas {
  opacity: 0.9;
}

.nav-link {
  height: 150px;
  font-size: 50px;
  text-align: center;
  color: #019252;
}
.navbar-brand {
  margin: auto 0;
  margin-top: 11px;
  text-align: center;
  color: #01552c;
}
.signup-border {
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 378px;
  height: 699px;
  background: #ffffff;
  border: 15px solid #f5c703;
  border-radius: 36px;
  opacity: 1;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
}
.signup {
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 140px;
  position: absolute;
}
.realForm {
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: relative;
}
.id-form {
  /* Layout Properties */
  top: 221px;
  left: 56px;
  width: 222px;
  height: 46px;
  /* UI Properties */
  border: 3px solid #707070;
  border-radius: 63px;
  opacity: 1;
}
.nk-form,
.pw-form,
.pwCheck-form,
.mb-form {
  width: 315px;
  height: 46px;
  /* UI Properties */
  border: 3px solid #707070;
  border-radius: 63px;
  opacity: 1;
}

.self-form {
  margin-top: 12px;
  width: 315px;
  height: 174px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 3px solid #707070;
  border-radius: 23px;
  opacity: 1;
}

.btn-signup {
  width: 155px;
  height: 46px;
  background: #181d17;
  border-radius: 63px;
  opacity: 1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
}
.title-border {
  top: 17%;
  left: 50%;
  text-align: center;
  width: 242px;
  height: 46px;
  background: #01552c;
  border-radius: 63px;
  opacity: 1;
  margin: auto 0;
  position: absolute;
  transform: translate(-50%, -50%);
}
#pw_check {
  position: relative;
  margin: 12px;
}
.title {
  width: 100%;
  height: 30px;
  text-align: center;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  top: 7px;
  position: relative;
  white-space: nowrap;
}
@font-face {
  font-family: 'DNFBitBitv2';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')
    format('opentype');
}

div {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  padding: 10px;
  cursor: pointer;
}

/* iPhone se */
@media screen and (max-width: 545px) and (max-height: 800px) {
  .signup-border {
    width: 328px;
    height: 510px;
    top: 60%;
  }
  .nk-form,
  .pw-form,
  .pwCheck-form,
  .mb-form,
  .id-form {
    width: 215px;
    height: 32px;
  }
  .realForm {
    top: 0px;
    bottom: 10px;
  }
  .self-form {
    width: 275px;
    height: 104px;
    margin-top: 0px;
  }
  .check-id {
    height: 36px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar,
  .offcanvas-header {
    height: 70px;
  }
}

/* iphone 12 pro */
@media screen and (max-width: 400px) and (min-height: 800px) {
  .signup-border {
    width: 338px;
    height: 609px;
    top: 60%;
  }
  .realForm {
    top: 20px;
  }
  .nk-form,
  .pw-form,
  .pwCheck-form,
  .mb-form,
  .id-form {
    width: 235px;
    height: 46px;
  }
  .check-id {
    height: 46px;
    font-size: 14px;
    width: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .self-form {
    width: 275px;
    height: 104px;
    margin-top: 0px;
  }
}

/* Galaxy S8+ */
@media screen and (min-width: 350px) and (max-width: 380px) and (min-height: 700px) and (max-height: 750px) {
  .realForm {
    top: 0px;
  }
}

/* iPad Air */
@media screen and (min-width: 800px) and (max-width: 830px) and (min-height: 1150px) and (max-height: 1200px) {
  .signup-border {
    width: 538px;
    height: 779px;
    top: 55%;
  }
  .realForm {
    top: 50px;
  }
  .nk-form,
  .pw-form,
  .pwCheck-form,
  .mb-form,
  .id-form {
    width: 365px;
    height: 56px;
    margin-top: 20px;
  }
  .check-id {
    height: 46px;
    font-size: 20px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .self-form {
    width: 365px;
    height: 104px;
    margin-top: 19px;
  }
  input::placeholder {
    color: BLACK;
    font-size: 22px;
  }
  .title-border {
    width: 302px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #pw_check {
    font-size: 22px;
    margin-top: 19px;
  }
  .mb-form {
    margin-top: 10px;
  }
  .btn-signup {
    width: 180px;
    height: 55px;
    margin-top: 29px;
    font-size: 22px;
  }
}

/* iPad Mini */
@media screen and (min-width: 750px) and (max-width: 770px) and (min-height: 1000px) and (max-height: 1100px) {
  .signup-border {
    width: 538px;
    height: 779px;
    top: 58%;
  }
  .realForm {
    top: 60px;
  }
  .nk-form,
  .pw-form,
  .pwCheck-form,
  .mb-form,
  .id-form {
    width: 365px;
    height: 56px;
    margin-top: 20px;
    font-size: 22px;
  }
  .check-id {
    margin-top: 20px;
    height: 47px;
    font-size: 20px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .self-form {
    width: 365px;
    height: 104px;
    margin-top: 19px;
    font-size: 22px;
  }
  input::placeholder {
    color: BLACK;
    font-size: 22px;
  }
  .title-border {
    width: 302px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 15%;
  }
  #pw_check {
    font-size: 22px;
    margin-top: 19px;
  }
  .mb-form {
    margin-top: 10px;
  }
  .btn-signup {
    width: 180px;
    height: 55px;
    margin-top: 29px;
    font-size: 22px;
  }
  .navbar-brand {
    font-size: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

/* iPad Pro, Surface Pro 7 */
@media screen and (min-width: 900px) and (max-width: 1100px) and (min-height: 1300px) and (max-height: 1400px) {
  .signup-border {
    width: 538px;
    height: 779px;
    top: 58%;
  }
  .realForm {
    top: 50px;
  }
  .nk-form,
  .pw-form,
  .pwCheck-form,
  .mb-form,
  .id-form {
    width: 365px;
    height: 56px;
    margin-top: 20px;
    font-size: 22px;
  }
  .check-id {
    margin-top: 20px;
    height: 47px;
    font-size: 20px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .self-form {
    width: 365px;
    height: 104px;
    margin-top: 19px;
    font-size: 22px;
  }
  input::placeholder {
    color: BLACK;
    font-size: 22px;
  }
  .title-border {
    width: 352px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 22%;
  }
  #pw_check {
    font-size: 22px;
    margin-top: 19px;
  }
  .mb-form {
    margin-top: 10px;
  }
  .btn-signup {
    width: 180px;
    height: 55px;
    margin-top: 29px;
    font-size: 22px;
  }
  .navbar-brand {
    font-size: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .navbar,
  .offcanvas-header {
    height: 100px;
  }
}

/* Surface Duo */
@media screen and (max-height: 730px) and (min-height: 710px) and (max-width: 550px) and (min-width: 530px) {
  .signup-border {
    width: 438px;
    height: 529px;
    top: 60%;
  }
  .realForm {
    top: 0px;
  }
}

/* Galaxy Fold */
@media screen and (min-width: 270px) and (max-width: 290px) and (min-height: 640px) and (max-height: 670px) {
  .signup-border {
    width: 238px;
    height: 469px;
    top: 60%;
    border: 9px solid #f5c703;
  }
  .nk-form,
  .pw-form,
  .pwCheck-form,
  .mb-form,
  .id-form {
    width: 205px;
    height: 30px;
  }
  .realForm {
    top: -10px;
  }
  .self-form {
    width: 205px;
    height: 64px;
    margin-top: 0px;
  }
  .check-id {
    height: 36px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar,
  .offcanvas-header {
    height: 60px;
  }
  .title-border {
    width: 142px;
    height: 36px;
  }
  .title {
    font-size: 20px;
  }
  .navbar-brand {
    font-size: 12px;
  }
}

/* Nest Hub */
@media screen and (min-width: 1000px) and (max-height: 620px) and (max-width: 1100px) {
  .signup-border {
    width: 258px;
    height: 459px;
    top: 60%;
    border: 9px solid #f5c703;
  }
  .nk-form,
  .pw-form,
  .pwCheck-form,
  .mb-form,
  .id-form {
    width: 225px;
    height: 30px;
  }
  .realForm {
    top: -20px;
    text-align: center;
  }
  .self-form {
    width: 225px;
    height: 74px;
    margin-top: 0px;
  }
  .btn-id {
    width: 220px;
    text-align: center;
  }
  .check-id {
    height: 30px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #pw_check {
    font-size: 13px;
  }
  .navbar,
  .offcanvas-header {
    height: 60px;
  }
  .title-border {
    width: 152px;
    height: 36px;
  }
  .title {
    font-size: 20px;
  }
  .navbar-brand {
    font-size: 17px;
  }
}

@media screen and (min-width: 1101px) and (min-height: 601px) {
  .signup-border {
    width: 258px;
    height: 459px;
    top: 60%;
    border: 9px solid #f5c703;
  }
  .nk-form,
  .pw-form,
  .pwCheck-form,
  .mb-form,
  .id-form {
    width: 225px;
    height: 30px;
  }
  .realForm {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 230px;
    top: -20px;
    left: 50%;
  }
  .self-form {
    width: 225px;
    height: 74px;
    margin-top: 0px;
  }
  .btn-id {
    width: 220px;
    text-align: center;
  }
  .check-id {
    height: 30px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #pw_check {
    font-size: 13px;
  }
  .navbar,
  .offcanvas-header {
    height: 60px;
  }
  .title-border {
    width: 152px;
    height: 36px;
  }
  .title {
    font-size: 20px;
  }
  .navbar-brand {
    font-size: 17px;
  }
}
