@font-face {
  font-family: 'DNFBitBitv2';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')
    format('opentype');
}

form {
  max-width: 400px;
  margin: 0 auto;
}

div {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  padding: 10px;
  cursor: pointer;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  font-family: 'DNFBitBitv2';
}

input::placeholder {
  color: BLACK;
  font-family: 'DNFBitBitv2';
  font-size: 25px;
  margin-top: 20px;
}

.sky {
  background-attachment: fixed;
  position: fixed;
  background: linear-gradient(#0072b4, #ffffff);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.container {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.green {
  background-attachment: fixed;
  background: linear-gradient(#01552c, #019252);
  height: 60%;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top-left-radius: 50% 40px;
  border-top-right-radius: 50% 40px;
}

.id-form {
  top: 401px;
  left: 4%;
  width: 374px;
  height: 72px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 3px solid #707070;
  border-radius: 63px;
  opacity: 1;
  position: relative;
  font-size: 26px;
  font-family: 'DNFBitBitv2';
  cursor: pointer;
}

.pw-form {
  top: 371px;
  left: 4%;
  width: 374px;
  height: 72px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 3px solid #707070;
  border-radius: 63px;
  opacity: 1;
  position: relative;
  font-size: 26px;
  font-family: 'DNFBitBitv2';
  cursor: pointer;
}

#signinButton {
  text-align: center;
  position: relative;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20px;
  cursor: pointer;
}

.signupButton {
  font-size: 24px;
  font-family: 'DNFBitBitv2';
  color: white;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  cursor: pointer;
}

.home {
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 63px;
  opacity: 1;
  width: 85px;
  height: 83px;
  cursor: pointer;
}

.home-icon {
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
}
